.dark {
    
    background: dimgrey;
    color:aliceblue !important
}
.h12{
    color: red
}
.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.light {
    background: lightgreen;
}

.light-text {
    color: darkslateblue;
}